
  <footer id="contact">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-md-3">
          <span>
            Przychodnia Online
          </span>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel scelerisque neque.
             Nulla orci sem, congue lobortis nibh vitae, tristique tristique mi. Nulla facilisi. Class aptent 
             taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
          </span>
        </div>
        <div class="col-md-3">
          <span>
            Przydatne informację
          </span>
          <span>
            Polityka prywatności
          </span>
          <span>
            Jak się rejestrować
          </span>
          <span>
            Regulamin
          </span>
        </div>
        <div class="col-md-3">
          <span>
            Kontakt
          </span>
          <span>
            Telefon: 143134134
          </span>
          <span>
            Email: przychodnia@o2.pl
          </span>
          <span>
            Fax: 15 1578 32 23
          </span>
        </div>
        <div class="col-md-3">
          <span>
             Współpraca z NFZ
          </span>

          <img src="/images/footer.png" alt="footer" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 line-bottom">
          <hr>
        </div>
      </div>
    </div>
  </footer>