<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

  <script src="https://use.fontawesome.com/19f59abbe2.js"></script>



  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-datepicker.js"></script>
  <script src="/javascripts/app.js"></script>
  <link href="/stylesheets/sass/vendors/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/sass/vendors/angular-datepicker.css" rel="stylesheet" type="text/css" />

  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link href="/stylesheets/sass/vendors/font-awesome.min.css" rel="stylesheet">

  <style>
    ._720kb-datepicker-calendar-day._720kb-datepicker-today {
      background: red;
      color: white;
    }
  </style>
</head>

<body>