<% include partials/head.ejs %>
  <% include partials/header.ejs %>

    <div class="container" ng-app="app" ng-controller="AppointmentsCtrl" ng-init="init()">
      <div class="row">
        <% include partials/menu.ejs %>

          <div class="col-md-9 news"> 
            <h3>Zabiegi</h3>
            <hr class="hidden-sm hidden-xs">
            <div>
              <div class="row">
                <div>
                  <h4>Informacje o Wizytach</h4>
                </div>
              </div>

<div class="table-responsive">

              <table class="table table-hover">
                <tr>
                  <th> Lp. </th>
                  <th> Pacjent </th>
                  <th> Data </th>
                  <th> Godzina </th>
                  <th> Doktor </th>
                  <th> Działania </th>
                </tr>
                <tr ng-repeat="item in list">
                  <td> {{$index+1}} </td>
                  <td> {{item.patient}} </td>
                  <td> {{item.yyyy}}-{{item.mm}}-{{item.dd}} </td>
                  <td> {{item.hour}}  </td>
                  <td> {{item.doctor}}  </td>
                  <td> <a href="/<%= user.username %>/change-appointments/{{item._id}}" class="btn btn-success btn-xs">Zmień termin wizyty</a>  </td>
                </tr>
              </table>
</div>

            </div>

  

          </div>
      </div>
    </div>

    <% include partials/footer.ejs %>
    <script src="/javascripts/controllers/AppointmentsCtrl.js"></script>
    <script src="/javascripts/controllers/MenuCtrl.js"></script>
      </body>

      </html>