<% include partials/head.ejs %>
  <% include partials/header.ejs %>

    <div class="container" ng-app="app">
          <div class="row">
            <% include partials/menu.ejs %>
              <div class="col-md-9 news">
                <h3>Aktualności</h3>
                <hr class="hidden-sm hidden-xs">
                <div>
                  <div class="row">
                    <div class="col-md-offset-4 col-md-8 hidden-xs hidden-sm">
                      <h4>O nas !</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <img src="images/avatar.jpg" alt="avatar">
                    </div>
                    <div class="hidden-lg hidden-md">
                      <h4>O nas !</h4>
                    </div>
                    <div class="col-md-8">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo felis, interdum eget consectetur et, vehicula non
                        lectus. Integer rhoncus est ac enim luctus fermentum. Curabitur non leo rhoncus, blandit risus at,
                        malesuada nunc. Nam posuere odio vel nibh porttitor ultrices. Praesent pretium ipsum massa, quis
                        sollicitudin elit tincidunt et. Donec sit amet libero iaculis, efficitur sapien id, sodales risus.
                        Donec vel eros lacinia tortor auctor tristique. Quisque lectus ligula, commodo sit amet dapibus vel,
                        rhoncus tristique nisi.
                      </p>
                      <p>
                        Nullam lacinia nunc sapien, in porttitor massa sollicitudin at. Sed sit amet magna ut erat laoreet semper. Pellentesque habitant
                        morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent tempus vehicula
                        risus in condimentum. Nulla facilisi. Nam pharetra, sem vel auctor ullamcorper, tortor neque maximus
                        ex, ut sagittis odio risus in arcu. Quisque sem sem, gravida at gravida sit amet, volutpat ultricies
                        diam. Praesent quis viverra lectus. Integer lacinia magna a imperdiet molestie. Nam quis erat ipsum.
                        Aenean eleifend pharetra leo, vel lobortis risus elementum a. Morbi ac tellus volutpat ligula efficitur
                        auctor quis sit amet elit. Pellentesque venenatis lacinia faucibus. Nullam imperdiet dolor auctor
                        ex fringilla vehicula.
                      </p>
                    </div>
                  </div>
                  <!--second comment-->
                  <hr>
                  <div class="row">
                    <div class="col-md-12 our-team">
                      <h3>Nasz Zespół</h3>
                    </div>
                  </div>
                  <div class="row our-team-image">
                    <div class="col-md-4">
                      <img src="images/firstFace.jpg" alt="" class="img-responsive img-circle">
                      <h4>Dr. Marek Antoni lekarz rodzinny</h4>
                    </div>
                    <div class="col-md-4">
                      <img src="images/secondFace.jpg" alt="" class="img-responsive img-circle">
                      <h4>Dr. Jakub Antoni farmaceuta</h4>
                    </div>
                    <div class="col-md-4">
                      <img src="images/thirdFace.jpg" alt="" class="img-responsive img-circle">
                      <h4>Dr. Danuta Antoni pracownik szpitala</h4>
                    </div>
                  </div>
                </div>

              </div>
          </div>
    </div>

    <% include partials/footer.ejs %>
      <script src="/javascripts/controllers/MenuCtrl.js"></script>
      </body>

      </html>