<% include partials/head.ejs %>
  <!--topbar-->
  <div class="top-bar">
    <div class="top-bar-wrapper">
      <div class="top-bar-contact">
        <span class="top-bar__item">Telefon Kontaktowy:</span> <span>143134134</span>
        <span class="top-bar__item">Email:</span><span>przychodnia@o2.pl</span>
      </div>
    </div>
  </div>

  <div class="container" ng-app="app">
    <section id="login">
      <div class="login-wrapper">

        <div class="row login">
          <div class="col-md-4 col-xs-9 col-sm-7 center-block">
            <h1>Logowanie</h1>

            <% if (error_msg.length > 0) { %>
              <div class="alert alert-danger">
                <%= error_msg %>
              </div>
              <% } %>

                <form name="login" action="/login" method="post" class="validateInfo" novalidate>
                  <form-group class="reg-form"  ng-class="{ 'has-error': login.username.$invalid && login.username.$touched }">
                    <label for="">Nazwa</label>
                    <span ng-if="login.username.$touched && login.username.$error.required">Login jest wymagany</span>
                    <span ng-show="login.username.$touched && login.username.$error.maxlength">Za długi login</span>
                    <input type="text" class="form-control" ng-model="username" name="username" placeholder="np. Jan Kowalski" ng-required="true" maxlength="20">
                  </form-group>

                  <form-group class="reg-form"  ng-class="{ 'has-error': login.password.$invalid && login.password.$touched }">
                    <label for="">Hasło</label>
                    <span ng-if="login.password.$touched && login.password.$error.required">Hasło jest wymagane</span>
                    <span ng-show="login.password.$touched && login.password.$error.minlength">Za krótkie hasło</span>
                    <span ng-show="login.password.$touched && login.password.$error.maxlength">Za długie hasło</span>
                    <input type="password" class="form-control" ng-model="password" name="password" placeholder="np. ********" ng-required="true" ng-minlength="3"
                      maxlength="202">
                  </form-group>

                  <button type="submit" class="btn btn-success" ng-disabled="login.$invalid">Zaloguj się</button>
                </form>


                <p>Nie posiadasz jeszcze konta? <a href="/register">Zarejestruj się.</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>



  <% include partials/footer.ejs %>
    </body>

    </html>