.patientForm {
    form {
        text-align: left; 

        textarea {
            max-width: 100%;
        }

        button {
            margin-top: 15px;
        }
    }
}
 

.patientAccordion {
    margin-top: 50px;
}