body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}
 
#home {
  width: 100%;
}


.news {
  text-align: center;
    h3 {
    @extend %underline;
  }
} 

.our-team { 
  @extend .news;

  &-image {
    margin-top: 30px;
    
    img {
      max-height: 200px;
      margin: auto;
    }
  }
}

 



 

