.nav-tabs {
  display: flex;
  justify-content: center;
}

.tab-content {
  margin-top: 15px;
}

.personalDataForm {
  margin-top: 15px;
}

.actualEmail {
  margin-bottom: 25px;
}
@media only screen and (max-width: 600px) {
  .nav-tabs {
    margin-top: 15px;

    li {
      a {
        font-size: 13px;
      }
    }
  }
}
