<% include ../partials/head.ejs %>
  <% include ../partials/header.ejs %>

    <div class="container" ng-app="app">
      <div class="row">
        <% include ../partials/menu.ejs %>

          <div class="col-md-9 news"> 
            <h3>Zabiegi</h3>
            <hr class="hidden-sm hidden-xs">
            <div>
              <div class="row">
                <div>
                  <h4>Wykonywane zabiegi przez Marka.</h4>
                </div>
              </div>

<div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <th> Lp. </th>
                  <th> Nazwa </th>
                  <th> Cena </th>
                </tr>
                <tr>
                  <td> 1 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td> 320 zł </td>
                </tr>
                <tr>
                  <td> 2 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td> 320 zł </td>
                </tr>
                <tr>
                  <td> 3 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td> 320 zł </td>
                </tr>
                <tr>
                  <td> 4 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td>320 zł </td>
                </tr>
                <tr>
                  <td> 1 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td> 320 zł </td>
                </tr>
                <tr>
                  <td> 2 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td> 320 zł </td>
                </tr>
                <tr>
                  <td> 3 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td> 320 zł </td>
                </tr>
                <tr>
                  <td> 4 </td>
                  <td> Lorem ipsum dolor sit amet, consectetur </td>
                  <td>320 zł </td>
                </tr>
              </table>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12 info-bottom"> 
                <a href="/marek-antoni" class="btn btn-info pull-left">Idź do profilu doktora</a>
                <a href="/cardiac" class="btn btn-info pull-right">Idz do poradni</a>
              </div>
            </div>

          </div>
      </div>
    </div>

    <% include ../partials/footer.ejs %>
    <script src="/javascripts/controllers/MenuCtrl.js"></script>
      </body>

      </html>