<% include ../partials/head.ejs %>
  <% include ../partials/header.ejs %>

    <div class="container" ng-app="app">
      <div class="row">
        <% include ../partials/menu.ejs %>

          <div class="col-md-9 news"> 
            <h3>Informacje</h3>
            <hr class="hidden-sm hidden-xs">
            <div>

              <div class="row">
                <div class="col-md-12 picture">
                  <img src="images/secondFace.jpg" alt="picture marek-antoni" class="img-responsive img-circle">
                </div>
              </div>


              <div class="row info-name">
                <div>
                  <h4>Dr. Jakub Antoni farmaceuta</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo felis, interdum eget consectetur et, vehicula non
                    lectus. Integer rhoncus est ac enim luctus fermentum. Curabitur non leo rhoncus, blandit risus at, malesuada
                    nunc. Nam posuere odio vel nibh porttitor ultrices. Praesent pretium ipsum massa, quis sollicitudin elit
                    tincidunt et. Donec sit amet libero iaculis, efficitur sapien id, sodales risus. Donec vel eros lacinia
                    tortor auctor tristique. Quisque lectus ligula, commodo sit amet dapibus vel, rhoncus tristique nisi.
                    lectus. Integer rhoncus est ac enim luctus fermentum. Curabitur non leo rhoncus, blandit risus at, malesuada
                    nunc. Nam posuere odio vel nibh porttitor ultrices. Praesent pretium ipsum massa, quis sollicitudin elit
                    tincidunt et. Donec sit amet libero iaculis, efficitur sapien id, sodales risus. Donec vel eros lacinia
                    tortor auctor tristique. Quisque lectus ligula, commodo sit amet dapibus vel, rhoncus tristique nisi.
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 doctor-info-bottom">
                  <a href="/jakub-antoni/reservation-visit" class="btn btn-success">Dokonaj rezerwacji wizyty</a>
                  <a href="/contact-with-jakub-antoni" class="btn btn-warning">Wyślij wiadomość do specjalisty</a>
                  <a href="/jakub-treatments" class="btn btn-primary">Wykonywane zabiegi</a>
                </div>
              </div>

            </div>

          </div>
      </div>
    </div>

    <% include ../partials/footer.ejs %>
    <script src="/javascripts/controllers/MenuCtrl.js"></script>
      </body>

      </html>